
{% extends 'frontend.html.twig' %}

{% block title %}Formularios{% endblock %}

{% block body %}
<h1>Formularios </h1>

<p> (Composer requiere symfony/form)

<ul>
    <li>
        <a href="{{path('formulario_simple')}}">Formulario simple</a>
        
    </li>
     <li>
        <a href="">Formulario entity</a>
        
    </li>
     <li>
        <a href="">Formulario type</a>
        
    </li>
    
       
</ul>
{% endblock %}
